[Desktop Entry]
Name=Private Chrome
Exec=proxy-ns google-chrome-stable --incognito
Terminal=false
Type=Application
Icon=/usr/share/icons/private-chrome.png
StartupWMClass=Private Chrome
Comment=Google Chrome
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
