[Desktop Entry]
Name=QQMusic
Exec=@INSTALL_DIR@/@APPIMAGE_FILE@ %U --no-sandbox
Icon=@ICON_PATH@
Terminal=false
Type=Application
StartupWMClass=qqmusic
Comment=Tencent QQMusic
Categories=AudioVideo;Audio;Player;
MimeType=application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/vorbis;audio/x-vorbis;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/x-flac;audio/mp4;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xm;
Keywords=Player;Audio;Song;MP3;CD;Podcast;MTP;iPod;Playlist;Last.fm;UPnP;DLNA;Radio;
